.userinfo{
    width: 100%;
    height: 250px;
    padding: 0 0;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--tukki-black);
}
.userinfo .user-userimage{
    width: 20%;
    height: 100%;
    padding: 12px;
    border-radius: 10px;
    background-color: var(--tukki-blue);
}
.userinfo .user-userdata{
    width: 70%;
}
.userinfo .user-userdata h3{ margin: 0;}