:root{
  --tukki-blue: #9D72FF;
  --tukki-yellow: #FFFF00;
  --tukki-orange: #f8a154;
  --tukki-grey-bg: #F1F1F1;
  --tukki-subtitles: #C9C9C9;
  --tukki-inputs: #e6e6e6;
  --tukki-white: #FFFFFF;
  --tukki-shadows: rgba(0,0,0,0.2);
  --tukki-black: rgba(0,0,1,0.5);
  --tukki-intense-black: rgba(0,0,1,0.8);
}
body{
  font-family: 'Segoe UI',sans-serif;
}
body.bg{
  background-color: var(--tukki-grey-bg);
}
body.dark{ background-color: var(--tukki-intense-black);}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
}
.flex{
  display: flex;
}
.flex-space-btw{
  justify-content: space-between;
  align-items: center;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.flex-start{ justify-content: flex-start; align-items: center; }
.box{
  box-sizing: border-box;
  padding: 40px;
  padding-left: 120px;
  padding-right: 120px;
}
.rounded-box{
  border-radius: 20px;
  background-color: #9D72FF;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
 
::-webkit-scrollbar-track {
  background-color: lightgrey;
}
 
::-webkit-scrollbar-thumb {
  background-color: var(--tukki-blue);
}
 
body.dark ::-webkit-scrollbar-track {
  background-color: lightgrey;
}
 
body.dark ::-webkit-scrollbar-thumb {
  background-color: var(--tukki-yellow);
}